[Unit]
Description=SpadService
After=network.target

[Service]
Type=simple
WorkingDirectory=/opt/spa/bin/
User=spa
Group=spa
OOMScoreAdjust=-100
ExecStart=/opt/spa/bin/srv.py
ExecStop=/opt/spa/bin/spa_conn.py kill_all
TimeoutSec=300
Restart=always

[Install]
WantedBy=multi-user.target
