[Unit]
Description=SpadService
After=network.target

[Service]
Type=simple
WorkingDirectory=/opt/spa/
User=spa
Group=spa
OOMScoreAdjust=-100
ExecStart=/opt/spa/bin/srv.py
TimeoutSec=300
Restart=always

[Install]
WantedBy=multi-user.target
